

<div class="row">
  <div class="col 12">
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="https://images.unsplash.com/photo-1445116572660-236099ec97a0?ixlib=rb-0.3.5&q=80&fm=jpg&s=935cebb59e8393ffd0301d70601b242e">
          <div class="card-panel brown lighten-5 caption center-align">
            <h3 class="brown-text text-darken-1">Welcome to My Coffee Order</h3>
            <h5 class="brown-text text-darken-3">Avoid lines. Place your order and pick it up!</h5>
          </div>
        </li>
        <li>
          <img src="https://images.unsplash.com/photo-1445883791079-421522d11f18?ixlib=rb-0.3.5&q=80&fm=jpg&s=730b35a3f9126853f7308114b623089d">
          <div class="caption left-align">
            <h3>Our delicious coffee on your time</h3>
            <h5 class="light grey-text text-lighten-3">Piping hot and waiting for you.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
